@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* input */

.parent,
.profileBio {
  background-color: rgb(237, 237, 237);
}

/* img slider */
/* products img */
.productImg img {
  mix-blend-mode: multiply;
}

.season {
  background-color: gainsboro;
}
/* Zoom In #1 */

.imghvr-push-up figcaption {
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
}

.imghvr-push-up:hover > img {
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
}
